# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

.idea

homeworkpal_project/homeworkpal_project/homework_pal.sqlite3
homeworkpal_project/homeworkpal_project/settings/local_acp.py
~$school_data.xlsx
test_data/collaborator.xlsx
test_data/~$collaborator.xlsx
test_data/TINO-NS_*.xlsx
~$TINO-NS_*.xlsx
test_data/Copy of 1680.xls
test_data/1680.xls
test_data/~$*.xlsx
test_data/locks_workbenches_*.xlsx
homeworkpal_project/homeworkpal_project/homework_pal_*.sqlite3
media/
test_data/maximo_data.xlsx
