{% extends "base.html" %}
{% load staticfiles i18n %}
{% block page_title %}
{% trans "Uploaded Data" %}
{% endblock page_title %}
{% block content %}
<table class="table">
    <thead>
    <tr class="row">
        <th>{% trans "Filename" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Created on" %}</th>
    </tr>
    </thead>

{% for document in object_list %}
<tr class="row">
    <td class="col-md-3">{{ document.docfile.name }} </td>
    <td class="col-md-3">{{ document.state }} </td>
    <td class="col-md-3">{{ document.created }} </td>
</tr>
 {% endfor %}
    </table>
{% endblock content %}