{% extends "base.html" %}
{% load staticfiles i18n %}
{% block page_title %}
{% trans "Uploaded Data" %}
{% endblock page_title %}
{% block content %}
<table class="table">
    <thead>
    <tr class="row">
        <th>{% trans "Filename" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Created on" %}</th>
        <th>{% trans "Parsed" %}</th>
         <th>{% trans "Created" %}</th>
    </tr>
    </thead>

{% for document in object_list %}
<tr class="row">
    <td class="col-md-3">{{ document.docfile.name }} </td>
    <td class="col-md-1">{{ document.status }} </td>
    <td class="col-md-2">{{ document.created }} </td>
   <td class="col-md-3">
       <div>{% trans "Tickets" %}: {{ document.ticket_rows_parsed }}</div>
       <div>{% trans "Time registries" %}: {{ document.time_rows_parsed }}</div>
   </td>
    <td class="col-md-3">
       <div>{% trans "Tickets" %}: {{ document.tickets_created }}</div>
       <div>{% trans "Time registries" %}: {{ document.times_created }}</div>
   </td>
</tr>
 {% endfor %}
    </table>
{% endblock content %}