{% extends "base.html" %}
{% load staticfiles %}
{% block page_title %}
{% if project == None %}
Add New Project
{% else %}
{{ project.short_name }}
{% endif %}
{% endblock page_title %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <ul class="nav nav-tabs" role="tablist" id="project-tabs">
        <li role="presentation" class="active"><a href="#project-info" aria-controls="project-info" role="tab"
                                                  data-toggle="tab">Project Info</a></li>
        <li role="presentation"><a href="#risks" aria-controls="risks" role="tab" data-toggle="tab">Risks</a></li>
        <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="project-info"> {{ form.as_p }}</div>

        <div role="tabpanel" class="tab-pane" id="risks">
            <fieldset>
                <legend>Risks</legend>
                {{ line_formset.management_form }}
                {{ line_formset.non_form_errors }}
                {% for form in line_formset %}
                {{ form.id }}
                <div class="link-formset inline {{ risk_form.prefix }}">
                    {{ form.as_table }}
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div role="tabpanel" class="tab-pane" id="members">
            <fieldset>
                <legend>Members</legend>
                {{ members_formset.management_form }}
                {{ members_formset.non_form_errors }}
                {% for form in members_formset %}
                {{ form.id }}
                <div class="members-formset inline {{ form.prefix }}">
                    {{ form.as_table }}
                </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>
    <input class="btn btn-primary" role="button" type="submit" value="Update"/>
    {% if project == None %}
    <a class="btn btn-primary" role="button" href="{% url 'project:all_projects' %} ">Cancel</a>
    {% else %}
    <a class="btn btn-primary" role="button" href="{% url 'project:project_detail' project.pk %} ">Cancel</a>
    {% endif %}

</form>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
        $('.link-formset').formset({
            addText: 'Add Risk',
            deleteText: 'Delete'
        });

         $('.members-formset').formset({
            addText: 'Add Member',
            deleteText: 'Delete'
        });


</script>
<script>


    $('#project-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

</script>
{% endblock extra_js %}