{% extends "base.html" %}
{% load staticfiles %}
{% block page_title %}
{% if view.status == 'running' %}
Running Projects
{% else %}
Projects
{% endif %}
{% endblock page_title %}
{% block content %}
<div>
    {% for project in object_list %}
    <div class="alert alert-info" role="alert">
        <div><strong>Project: </strong> <a href="{% url 'project:project_detail' project.pk %}">{{ project.short_name}}</a>
        </div>
        <div><strong>Fecha de Terminación: </strong> {{ project.planned_end_date }} (Faltan {{project.remaining_days}}
            días)
        </div>
        <div><strong>Líder: </strong> {{ project.leader }}</div>
    </div>
    {% endfor %}

</div>
{% endblock content %}
