{% extends "base.html" %}
{% load staticfiles i18n %}
{% block page_title %}
{% if view.status == 'running' %}
Running Projects
{% else %}
Projects
{% endif %}
{% endblock page_title %}
{% block content %}
<table class="table">
    <thead>
        <tr class="row">
            <td>
                {% trans "No." %}
            </td>
        <td>
                {% trans "Project" %}
            </td>
        <td>
                {% trans "Information" %}
            </td>
        <td>

        </td>
        </tr>
    </thead>
    {% for project in object_list %}
    <tr class="alert alert-info row" role="alert">
        <td class="col-md-1">
            {{ forloop.counter }}
        </td>
        <td class="col-md-7">
            <div><strong>Project: </strong> <a href="{% url 'project:project_detail' project.pk %}">{{project.short_name}}</a>
            </div>
             <div><strong>Priority: </strong>{{project.priority}}
            </div>
            <div><strong>Planned End Date: </strong> {{ project.planned_end_date }} ({{project.remaining_days}}
                working days)
            </div>
            <div><strong>Leader: </strong> {{ project.leader }}</div>
        </td>
        <td class="col-md-2">
            <div><strong>Members: </strong> {{project.members.count}}</a>
            </div>
            <div><strong>Deliverables: </strong> {{ project.deliverables.count }}
            </div>
             <div><strong>Corporate Goals: </strong> {{ project.corporate_goals.count }}
            </div>
        </td>
        <td class="col-md-2">
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'project:project_update' project.pk %}">Edit</a>
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'project:project_detail' project.pk %}">View</a>
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'project:project_delete' project.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}
